.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.style-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max-content;
}

label input {
  margin: 20px;
}

.card {
  align-self: auto;
  display: flex;
}
